<footer id="stick-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Scott Moore", "http://www.denverjudo.com", class: "text-white", target: "_blank"%></small>
  </div>
</footer>